.scheduler-dropdown-container {
    padding-bottom: 5px;
}

.confirm-button {
    margin-bottom: 5px;
}

.scheduler-dropdown {
    display: flex;
    gap: 10px;
}
.timezone {
    font-size: 14px;
    padding-bottom: 10px;
}

.whole-container {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scheduler-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-button {
    margin: 0 10px;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
  }
  
  .nav-button:not(:disabled):hover {
    cursor: pointer;
    color: #007bff;
  }
  
  .scheduler {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 770px;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
  }
  
  .day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
  }
  
  .day-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .time-slot {
    font-size: 14px;
    width: 100px;
    padding: 5px 5px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .time-slot.selected {
    background-color: #d1e7fd;
    border-color: #007bff;
    opacity: 1.0;
  }
  
  .time-slot.available {
    opacity: 1.0;
  }

.login-message {
  padding-top: 20px;
  padding-bottom: 20px;
}